*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {background-color:#4b84c6;
background-image: url(img/banner.png);
background-position: center;
background-size: cover;}
 

article.home-intro h1 {
    font-size: clamp(46px, 5vw, 96px);
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #EDCC52;
    background-image: url(img/bg.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto -40px auto;
    width: 80%;
    position: relative;
    z-index: 2;
    border: #000000 3px solid;
}


section.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    background-color: #D14B4B;
    padding: 80px 40px;
    background-image: url(img/bg.png);
    background-size: cover;
    background-position: center;
    align-items: center;
}
section.intro a img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1); 
}

@media (max-width: 600px) {

    article.home-intro h1 {
    margin: 0 auto 0 auto;
    width: 100%;
}

    section.intro {
        flex-direction: column;
        padding: 40px 20px;
    }
    section.intro a img {
        max-width: 300px;
    }
}  
ul {display: flex;
flex-direction: row;
justify-content: right;
gap: 50px;
background-color: #EDCC52;
background-image: url(img/bg.png);
background-size: cover;
background-position: center;
margin: 15px;
padding: 10px 20px;
border: #000000 3px solid;
font-size: 15px;
font-family: "Patrick Hand SC", system-ui;
font-weight:bold;
list-style:none;} 





p {font-family: "Patrick Hand SC", system-ui;
font-size: 20px;
margin: 20px;
line-height: 1.6;
text-align: center;
color: #000000;
background-color: #EDCC52;
background-image: url(img/bg.png);
background-size: cover;
background-position: center;
padding: 20px;
border: #000000 3px solid;
max-width: 800px;
margin-left: auto;
margin-right: auto;}


img {display: block;
margin: 20px auto;
max-width: 400px;
width: 40%;
height: auto;
border: #000000 3px solid;
position: relative;}





h1 {font-size: clamp(36px, 4vw, 72px);
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #EDCC52;
    background-image: url(img/bg.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto 40px auto;
    width: 80%;
    position: relative;
    z-index: 2;
    border: #000000 3px solid;}

section.middle {display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
 padding: 20px 20px;
    align-items: center;}




section.end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    background-color: #D14B4B;
    padding: 40px 20px;
    background-image: url(img/bg.png);
    background-size: cover;
    background-position: center;
    align-items: center;
text-align: center;}

figcaption {
    font-family: "patrick Hand SC", system-ui;
    font-size: 16px;
    margin-top: 8px;
    color: #000000;
background-color: #EDCC52;
background-image: url(img/bg.png);
background-size: cover;
background-position: center;
padding: 5px;
border: #000000 3px solid;
max-width: 400px;
max-height: 400px;
margin-left: auto;
margin-right: auto;}

img {display: flex;
    flex-direction: row;
margin: 40px auto;
max-width: 400px;
width: 100%;
height: 100% auto;
border: #000000 3px solid;
position: relative;
margin-right: 10px;
gap: 20px;
}        